* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.weblogo {
  margin-left: 20px;
  margin-right: auto;
  position: relative;
  left: 10px;
}

.site-name {
  margin-right: auto;
  position: relative;
  left: -350px;
}

.search-bar {
  margin-left: auto;
  padding: 5px;
}

.hamburger {
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #222;
  color: white;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  color:#222;
}

.sidebar li {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar li:hover {
  background-color: #ffcc00;
  color: #222;
}

a.sidebar li:hover{
  color:#222;
}

.sidebar .active {
  background-color: #ffcc00;
  color: #222;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 900;
}

.page-header-title {
    text-align: center;
    font-size: 48px;
    padding: 20px 0;
    border-bottom: 2px solid var(--dark-line);
    margin: 0; /* Reset margin */
}

.sources-list {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--dark-line);
    margin: 0; /* Reset margin */
}

.sources {
    text-decoration: none;
    color: black;
}

.sources a{
    text-decoration: none;
    color: black;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
